<ion-view title="LoginPage" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="loginPage-form5" class="list ">
            <ion-list id="loginPage-list5" class=" ">
                <label class="item item-input " id="loginPage-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="loginPage-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.articlePage" id="loginPage-button32" class=" button button-stable  button-block ">Log in</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="loginPage-button33" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>